.loginn {
  background: linear-gradient(135deg, #7b42f6, #b82efc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}

.authContainer::before,
.authContainer::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  opacity: 0.8;
}

.authContainer::before {
  top: 20%;
  left: 20%;
}

.authContainer::after {
  bottom: 10%;
  right: 20%;
}

.authForm {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.formTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2b2074;
}

.inputField {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
}

.submitBtn {
  background: linear-gradient(135deg, #7b42f6, #b82efc);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.submitBtn:hover {
  background: linear-gradient(135deg, #b82efc, #7b42f6);
}

.redirectText {
  margin-top: 15px;
  font-size: 14px;
}

.redirectLink {
  color: #2b2074;
  text-decoration: none;
}

.redirectLink:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .authContainer::before,
  .authContainer::after {
    display: none;
  }

  .authForm {
    width: 70%;
    max-width: 100%;
  }

  .inputField {
    font-size: 14px;
    padding: 10px;
  }

  .submitBtn {
    width: 100%;
    padding: 12px;
  }

  .redirectText,
  .redirectLink {
    font-size: 14px;
  }
}
