.sidebar {
  width: 300px;
  height: 100vh;
  background-image: url(../../../assets/images/image.png);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.navLink {
  padding: 10px 15px;
  transition: background-color 0.2s ease;
  border-radius: 10px;
}

.navLink:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menuBtn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
  font-size: 24px;
  border: none;
  background: white;
  padding: 10px;
  border-radius: 8px;
  display: none;
}

.userName{
  width: 90%;
  height: 7vh;
  background-color: #fff;
  color: #000;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.userName div{
  color: #000;
  margin-bottom: 7px;
}

.userName h5{
  color: #000;
  margin-top: 5px;
}

/* Sadəcə mobil üçün görünəcək */
@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }
}
